<%- include ('../partials/header') %>
<!DOCTYPE html>
<html>
<head>
	<title>Product Page</title>
</head>
<body>
	<h1>Product Page</h1>
	<form action="/search" method="get">
		<label for="query">Search:</label>
		<input type="text" name="query" id="query">
		<button type="submit">Search</button>
	</form>
	<table>
		<tr>
			<th>Name</th>
			<th>Brand</th>
			<th>Type</th>
			<th>Price</th>
			<th>Image</th>
			<th></th>
		</tr>
		<% products.forEach(function(product) { %>
			<tr>
				<td><%= product.name %></td>
				<td><%= product.brand %></td>
				<td><%= product.product_type %></td>
				<td>$<%= product.price.toFixed(2) %></td>
				<td><img src="<%= product.image %>" alt="<%= product.name %>"></td>
				<td><form action="/add-to-cart" method="post">
						<input type="hidden" name="product_id" value="<%= product.product_id %>">
						<button type="submit">Add to Cart</button>
					</form>
				</td>
			</tr>
		<% }); %>
	</table>
</body>
</html>

<%- include ('../partials/footer') %>