<%- include ('../partials/header') %>

<main>
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
        <title>Resort</title>
        <div id="left_side" style="float: left;">
            <div style="margin-bottom: 80px;">
                <% var name = 'Resort Name'; %>
                <% var country = 'Country'; %>
                <% var region = 'Region'; %>
                <% var namePrint = '<h1>' + name + ', ' + country + ', ' + region + '</h1>'; %>
                <%- namePrint %>    
                
            </div>
            <div>
                <div>
                    <form style="text-align: center; margin-bottom: 20px;">
                        <label>Starting Destination:</label>
                        <input type="text">
                    </form>
                </div>
                <div style="background-color: cadetblue;">
                    <br>
                    <br>
                    <br>
                    <br>
                    &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <p style="color:white; font-size: xx-large;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Map here</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <!-- Google maps map here -->
                </div>
            </div>
        </div>
        <div id="right_side" style="float:right;">
            <div style="margin-bottom: 30px;">

                <% var link = 'http://localhost:3000/resort'; %>
                <% var learnPrint  = '<p>Learn more <a href="' + link +'"> here</a></p>'; %>
                <%- learnPrint %>

                <!-- Link to resort website here -->
            </div>

            <div style="margin-bottom: 30px;">
                <form>
                    <label>Trip Duration: &nbsp;</label>
                    <input placeholder="1,2,3 ... Days" type="text" size="10px;">
                    <button>Add Trip</button> <!-- Add trip to past trips database -->
                </form>
            </div>

            <div>
                <h3>Ski Lift Status</h3>

                <% var liftPrint = ''; %>
                <% var liftName = ''; %>
                <% var liftStatus = 'closed'; %>
                <% var lifts = ['Lift 1', 'Lift 2', 'Lift 3', 'Lift 4', 'Lift 5', 'Lift 6']; %>

                <% lifts.forEach(lift => { %>
                <%    var i = 0;
                    liftPrint += '<p>' + lift + ': ' + liftStatus + '</p>';
                    i += 1;
                }); %>

                <%- liftPrint %>

            </div>

        </div>
    </div>
</main>

<%- include ('../partials/footer') %>