<!---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 60%;
          width: 60%;
          margin-left: 60px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 10px;
          padding: 0;
        }
      </style>
    <title>CSCI 3308 Lab 9</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">  
</head>
-->


<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 60%;
    width: 60%;
    margin-left: 60px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 110%;
    margin: 10px;
    padding: 0;
  }
</style>
<!-- Need a different header because of the google maps api -->



<body>
<main>

  <!-- include ('../partials/navbar') -->

    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">

        <% console.log(data); %>

        <title>Resort</title>

        <!-- Left side of the UI -->
        <div id="left_side" style="float: left;">

            <!-- Resort name, country, and region -->
            <div style="margin-bottom: 80px;">
                <!-- console.log(response.data.data.name); -->
                <!-- var name = response.data.data.name; -->
                <!-- var country = response.data.data.country; -->
                <!-- var region = response.data.data.region; -->

                <% var name = data[0]["trip_name"]; %>
                <% var country = data[0]["country"]; %>
                <% var region = data[0]["state_"]; %>

                <% var namePrint = '<h1>' + name + ', ' + country + ', ' + region + '</h1>'; %>
                <%- namePrint %>    
                
            </div>

            <!-- Input for starting destination for google maps -->
            <div>
                <div>
                    <form style="text-align: center; margin-bottom: 20px;">
                        <label>Starting Destination:</label>
                        <input size="50px" id="from" type="text">
                        
                        <% var tripNamePrint = '<input id="trip_name" readonly class="collapse" value=' + name + '>'; %>
                        <%- tripNamePrint %>

                        <button type="button" class="btn btn-primary" onclick="calcRoute()">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Link to resort website -->
        <div id="right_side" style="float:right; background-color: transparent;">
            <div style="margin-bottom: 30px;">
                <h3>Visit the website</h3>
                <!-- var link = data[0]["link"]; -->
                <% var link = 'http://localhost:3000/resort'; %>
                <% var learnPrint  = '<p>Learn more <a href="' + link +'"> here</a></p>'; %>
                <%- learnPrint %>
            </div>

            <!-- Input for trip duration and submit button for adding a trip -->
            <div style="margin-bottom: 30px;">
              <h3>Want to go on a trip?</h3>
              <!-- Displays message for adding resorts -->
              <% if (locals.message) { %>
                <div
                  class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
                  role="alert"
                  style="margin-top: 10px;"
                >
                  <%= message %>
                </div>
                <% } %>
                <form action="/resort/add" method="POST">
                  <div>
                    <% var passData = '';
                      passData += '<input type="text" id="trip_name" size="2px;" name="trip_name" value=' + name + ' readonly class="collapse">';
                      passData += '<input type="text" id="trip_link" size="2px" name="trip_link" value=' + link + 'readonly class="collapse">';
                    %>
                    <%- passData %>
                    <!-- <input type="text" id="trip_name" size="2px;" name="trip_name" value="hello" readonly class="collapse"> -->
                    <!-- <input type="text" id="trip_link" size="2px" name="trip_link" value="link" readonly class="collapse"> -->
                  </div>
                  <div>
                    <label class="form-label">Trip Duration: &nbsp;</label>
                    <input required placeholder="1,2,3 ... Days" type="text" size="10px;" id="duration" name="duration">
                    <button type="submit" class="btn btn-primary">Add Trip</button>
                  </div>
                </form>
            </div>

            <!-- List of ski lifts and their statuses -->
            <div>
                <h3>Ski Lifts</h3>

                <% var liftPrint = ''; %>
                <%  liftPrint += '<p>Number of Lifts: ' + data[0]["lifts"] + '</p>'; %>

                <%- liftPrint %>

            </div>

        </div>
    </div>
</main>

<!-- var latitude = response.data.data.location.latitude; -->
<!-- var longitude = response.data.data.location.longitude; -->

<!-- console.log(latitude); -->
<!-- console.log(longitude); -->

<div>
  <% var latitude = data[0]["lat"];
     var longitude = data[0]["lon"];
     var latPrint = '<input id="latit" readonly class="collapse" value=' + latitude + '>';
     var lonPrint = '<input id="longt" readonly class="collapse" value=' + longitude + '>' %>
  <%- latPrint %>
  <%- lonPrint %>
</div>

<div style="font-size:x-large"></div>

<!-- Google maps api call -->
<div id="map"></div>
<div id="output"></div>


<script>

// Set map variables
var map;
const latLong = {lat: parseFloat(document.getElementById("latit").value), lng: parseFloat(document.getElementById("longt").value)};
var directionsService;
var directionsDisplay;

// Callback function to display map
function initMap(){

  // Sets map options
  var mapOptions = {
    center: latLong,
    zoom: 8,
  };


  // Create Map
  map = new google.maps.Map(document.getElementById("map"), mapOptions);

  // Sets marker for ski resort
  new google.maps.Marker({
    position: latLong,
    map,
    })

  // Create a directions service object to use the route method and get a result for our request
  directionsService = new google.maps.DirectionsService();

  // Create a directions renderer object to display the route
  directionsDisplay = new google.maps.DirectionsRenderer();

  // Bind the directions renderer to the map
  directionsDisplay.setMap(map);   //

  // Create autocomplete object for the input
  var options = {
    types: ['address']
  }

  var input = document.getElementById("from");
  var autocomplete = new google.maps.places.Autocomplete(input, options);
 
}

// Calculates the route
function calcRoute() {

    // Create request
    var request = {
      origin: document.getElementById("from").value,
      destination: latLong,
      travelMode: google.maps.TravelMode.DRIVING,
      unitSystem: google.maps.UnitSystem.IMPERIAL
    }

    // Pass the request to the route method
    directionsService.route(request, (result, status) => {
      if(status == google.maps.DirectionsStatus.OK){

        // Get distance and time
        const output = document.querySelector('#output')
        output.innerHTML = "<div class='alert-info' style='font-size:x-large; margin-left: 40px;'> <br /> Driving Distance: " + result.routes[0].legs[0].distance.text + ".<br />Drive Time: " + result.routes[0].legs[0].duration.text + ". <br> <br> <br> </div>";
        
        // Display route
        directionsDisplay.setDirections(result);

      }
      else{
        // Delete route from map
        directionsDisplay.setDirections({routes: []});

        // Center map
        map.setCenter(latLong);

        // Show error message
        output.innerHTML = "<div class='alert-danger'> Could not retrieve driving distance. </div>";
      }
    })
  }
  

//   function initMap() {
//     map = new google.maps.Map(document.getElementById('map'), {
//       center: latLong,
//       zoom: 8
//     });

//     new google.maps.Marker({
//         position: latLong,
//         map,
//     })
//   }
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR0bDVkvqkcO5w77JuAo-bT_gKNAkGU_Q&libraries=places&callback=initMap">
</script>

<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR0bDVkvqkcO5w77JuAo-bT_gKNAkGU_Q&callback=initMap"
async defer></script> -->

<%- include ('../partials/footer') %>