<%- include ('../partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Search</title>
  </head>
  <body>
    <h1>Search</h1>
    <form action="/search" method="GET">
      <label for="search-input">Search:</label>
      <input type="text" id="search-input" name="query">
      <button type="submit">Search</button>
    </form>

    <% if (results && results.length > 0) { %>
      <h2>Results</h2>
      <table>
        <thead>
          <tr>
            <th>Product Type</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach(function(results) { %>
          <tr>
            <td><%= results.product_type %></td>
            <td><%= results.price %></td>
            <td><%= results.brand %></td>
            <td><%= results.name %></td>
            <td><img src="<%= results.image %>" /></td>
            <td><form action="/add-to-cart" method="post">
              <input type="hidden" name="product_id" value="<%= results.product_id %>">
              <button type="submit">Add to Cart</button>
            </form>
          </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
  </body>
</html>


<%- include ('../partials/footer') %>