<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<main>
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
            
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Trip Picture</th>
                <th scope="col">Trip Name</th>
                <th scope="col">State</th>
                <th scope="col">Learn More</th>
              </tr>
            </thead>
        
           <% trips.forEach(function(trips) {%>
                  <tbody>
                      <tr>
                        <th scope="row"><img src="<%-  %>"/></th>
                        <td><%- trips.trip_name %></td>
                        <td><%- trips.state_ %></td>
                    
                 <td> 
                  <form action="/resort" method="GET">
                    <% var resortPrint = '<input type="text" id="trip_name" size="2px;" name="trip_name" value= "' + trips.trip_name + '" readonly class="collapse">'; %>
                    <%- resortPrint %>
                    <button type="sumbit">More Information</button>
                  </form>
                 </td>
                </tr>
            
                </tbody>
            <% }) %>
          </table>
    </div>
</main>

<%- include ('../partials/footer') %>